/* ==|== fonts ============================================================= */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

$lato:'Lato', sans-serif;
/* ========================================================================== */

/* ==|== colors ============================================================= */
$black: #000;
$white: #fff;
$red: #fb0b1d; 
$blue: #1474fc;

/* ========================================================================== */

/* ========================================================================== */

/* ==|== font & font-size (ems context) ===================================== */
$browserContext: 24;
$xsTextContext: 10;
$sTextContext: 12;
$msTextContext: 13;
$mTextContext: 14;
$mtTextContext: 16;
$lsTextContext: 18;
$lTextContext: 20;
$ltTextContext: 22;
$xlsTextContext: 24;
$xlTextContext: 26;
$xltTextContext: 27;
$xxlTextContext: 28;
/* ========================================================================== */

/* ==|== heights ========================================================== */
/* ========================================================================== */

/* ==|== normalize ========================================================== */
$layoutWidth: 1140px;
/* ========================================================================== */

/* ==|== non-semantic helper classes ======================================== */
$containerPaddingRL: 10;
/* ========================================================================== */

/* ==|== form =============================================================== */
$checkboxRadioSize: 13;
/* ========================================================================== */